<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hhhaiai.androidrord">

    <application>
        <receiver
            android:name="me.hhhaiai.androidrord.impl.AroReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="9999">
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter android:priority="9999">
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>

            <intent-filter android:priority="9999">
                <action android:name="android.app.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.BATTERY_LEVEL_CHANGED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.USER_ADDED" />
                <action android:name="android.intent.action.USER_REMOVED" />
                <action android:name="android.intent.action.ALL_APPS" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.ANSWER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>